[common]
# log_level = INFO

[db]
# database = timeseries
host = <postgres server hostname>
# user = <current user>
# password = $(keyring get <user> postgres)
# paii_table = "paii_raw"
# time_field = "paii_time"

[device]
url = http://purpleair-xxxx.<domainname>/json
# loop_interval = 30
# min_window = 1
